
@model IList<CYDSA_Sustentabilidad.Models.IdsPantallas>
@{
    ViewBag.Title = "Pantallas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Plantas Asignadas</h2>

@using (Html.BeginForm())
{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="container form-group col-md-12" style="background-color:#D6EAF8;">
        <br />
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="container form-group col-md-2">
                @Html.HiddenFor(x => x[i].Id, new { @class = "form-control" })
                <span></span>
            </div>

            <div class="container form-group col-md-4" style="text-align-last:right; font-size:20px; font-style:normal; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                @Html.DisplayFor(x => x[i].nombre, new { @class = "form-control", @style = "align-items:right" })
            </div>


                        <div class="container form-group col-md-6" style="text-align-last:left">
                            @Html.CheckBoxFor(x => x[i].checkeado, new { @class = "form-control", @style = "align-items:left" })
                        </div>



        }
        <br />


    </div>

    <input type="submit" value="Guardar" class="btn btn-primary" />
        <a href="~/Usuarios" , class='btn btn-primary'>Regresar</a>
}


