<br />
<br />
<br />

@{
    ViewBag.Title = "Acerca de";
}

<div style=" background-color:#D6EAF8; align-content:center" class="form-horizontal container col-md-12 jumbotron img-rounded bg-primary">
  

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
 
    <h4>
        En el 2017
        Paralelamente a esta trasformación en los Negocios
        del Grupo, durante 2017 se enfatizó en
        continuar mejorando la gestión en sustentabilidad,
        manteniendo este compromiso al más alto
        nivel de la organización. Con este propósito, se
        incorporaron principios y estándares internacionales
        orientados a asegurar el avance en las
        áreas de Desarrollo del Personal, Interacción
        con la Comunidad y Cuidado y Protección del
        Medio Ambiente, en un marco de Ética y buen
        Gobierno Corporativo. Asimismo, se fortaleció
        la cultura de la mejora continua en los procesos
        de control, el despliegue de mejores prácticas,
        la gestión de riesgos y el diálogo con los diversos
        grupos de interés.
        Con esta base, se realizó el Informe de Sustentabilidad
        CYDSA 2017, tomando como referencia
        los lineamientos internacionales del Global
        Reporting Initiative (GRI), el Pacto Mundial de
        las Naciones Unidas y los estándares de la plataforma
        del Índice de Sustentabilidad de la Bolsa
        Mexicana de Valores.
        Los avances del 2017 se presentarán estructurados
        en los siguientes cinco aspectos:
    </h4>
    <br />
    <h4>
        •	 Desarrollo del Personal
    </h4>
    <h4>
        •	 Interacción con la Comunidad
    </h4>
    <h4>
        •	 Aseguramiento del Desarrollo Sustentable
    </h4>
    <h4>
        •	 Reducción del Consumo Energético
    </h4>
    <h4>
        •	 Fortalecimiento de la Rentabilidad Sustentable
    </h4>
   
</div>